@media (min-width: 769px) {
  button {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 1);
  }

  .wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
  }

  /* aside menu */

  aside {
    min-width: 320px;
  }

  aside button {
    background-color: white;
  }

  .container-mobile-menu {
    position: static;
    overflow: hidden;
    box-shadow: none;
    z-index: none;
  }

  .header-mobile-menu__container {
    justify-content: space-between;
    padding: 32px 24px 50px 24px;
  }

  .header-mobile-menu__exit-mobile-menu {
    display: none;
  }

  .footer-mobile-menu__container {
    margin-top: 241px;
  }


  /* Header */

  .site-header {
    display: none;
  }

  .block-title__container--visible-on-1120 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 1 auto;
    margin-right: 18px;

  }

  .setting-and-search-1120 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .block-title--button-for-1120 {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .site-main {
    background-color: rgba(248, 248, 248, 1)
  }


  .block-title {
    margin-top: 42px;
    padding-top: 0px;
    max-width: 1120px;
  }

  .block-title--aqua-stick {
    margin-right: 32px;
  }

  .block-title__services-list {
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 18px;

  }

  /* about company */

  .block-about-company {
    margin-top: 32px;
    flex-direction: row;
    max-width: 1120px;
  }

  .block-about-company__text {
    padding-left: 32px;
  }

  .block-about-company__readmore {
    margin: 24px 0 24px 24px;
  }

  .block-about-company__logo {
    min-width: 531px;
    border-radius: 10px;
    margin-right: 18px;
  }


  .block-about-company__text--text-for-768 {
    display: block;
    margin-top: 30px;
    text-align: left;

  }

  .block-about-company__text--text-for-1120 {
    display: block;
  }

  /* block brands */

  .block-brand__title-container {
    padding: 16px 32px 16px 32px;
  }

  .block-brand__brand-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    padding: 24px 32px 24px 32px;
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
    max-height: 200px;
  }


  .block-brand__button--hide {
    display: none;
  }


  .block-brand__button-show-or-hide {
    display: flex;
    pointer-events: none;
  }

  #block-brand__button--show-hide {
    display: none;
  }

  #block-brand__button--show-hide:checked~.block-brand__brand-list-container {
    max-height: 100%;
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.arrow-down {
    transform: rotate(180deg);
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.block-brand__button--show {
    display: none;
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.block-brand__button--hide {
    display: block;
  }

  /* block devices */

  .block-devices {
    margin-top: 50px;
  }

  .block-devices__title-container {
    padding: 16px 32px 16px 32px;
  }

  .block-devices__devices-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    padding: 24px 32px 24px 32px;
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
    max-height: 200px;
  }

  .block-devices__button--hide {
    display: none;
  }


  .block-devices__button-show-or-hide {
    display: flex;
    pointer-events: none;
  }

  #block-devices__button--show-hide {
    display: none;
  }

  #block-devices__button--show-hide:checked~.block-devices__devices-list-container {
    max-height: 100%;
  }

  #block-devices__button--show-hide:checked~.block-devices__label-show-more>.block-devices__button-show-or-hide>.arrow-down {
    transform: rotate(180deg);
  }

  #block-devices__button--show-hide:checked~.block-devices__label-show-more>.block-devices__button-show-or-hide>.block-devices__button--show {
    display: none;
  }

  #block-devices__button--show-hide:checked~.block-devices__label-show-more>.block-devices__button-show-or-hide>.block-devices__button--hide {
    display: block;
  }


  #swiper-360 {
    display: none;
  }
}