@media (min-width: 769px) {
  button {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 1);
  }

  .wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
  }


  /* Header */

  .site-header {
    display: none;
  }

  .block-title__container--visible-on-1120 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 1 auto;
    margin-right: 18px;

  }

  .setting-and-search-1120 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .block-title--button-for-1120 {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .site-main {
    background-color: rgba(248, 248, 248, 1)
  }


  .block-title {
    margin-top: 42px;
    padding-top: 0px;
    max-width: 1120px;
  }

  .block-title--aqua-stick {
    margin-right: 32px;
  }

  .block-title__services-list {
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 18px;

  }

  /* about company */

  .block-about-company {
    margin-top: 32px;
    flex-direction: row;
    max-width: 1120px;
  }

  .block-about-company__text {
    padding-left: 32px;
  }

  .block-about-company__readmore {
    margin: 24px 0 24px 24px;
  }

  .block-about-company__logo {
    min-width: 531px;
    border-radius: 10px;
    margin-right: 18px;
  }


  .block-about-company__text--text-for-768 {
    display: block;
    margin-top: 30px;
    text-align: left;

  }

  .block-about-company__text--text-for-1120 {
    display: block;
  }


}
