@media (max-width: 768px) and (min-width: 361px) {


  /* header */

  .site-header__container {
    gap: 16px;
    padding: 0 32px 0 32px;
  }

  .site-header__greystick--hidden {
    display: block;
  }

  .site-header__container--visible-on-768 {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: 16px;
  }

  .block-title {
    padding-top: 32px;
  }

  .block-title--aqua-stick {
    margin-right: 24px;
  }

  .block-title__services-list {
    margin-top: 32px;
    margin-left: 16px;
  }

  /* about menu */

  .block-about-company {
    margin-top: 32px;
    flex-direction: row;

  }

  .block-about-company__text {
    padding-left: 24px;
  }

  .block-about-company__text--text-for-768 {
    display: block;
    margin-top: 20px;
    text-align: left;
    transition: 0.7;
  }

  .block-about-company__readmore {
    margin: 24px 0 24px 10px;
  }

  .block-about-company__logo {
    border-radius: 5px;
  }

  
}
