@font-face {
  font-family: 'TT Lakes';
  src: url('./Font-tt-lakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./Font-tt-lakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./Font-tt-lakes/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  text-decoration: none;
  color: rgba(126, 126, 130, 1);
}

ul li {
  list-style: none;
}

body {
  font-family: TT lakes;
  font-size: 16px;
  max-height: 100vh;
  max-width: 100%;
  position: relative;
}


button {
  cursor: pointer;
  background-color: white;
  transition: 0.2s linear;

}

button:hover {
  opacity: 1;

}

button:active {

  opacity: 0.7;

}

h1 {
  font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


/*********************************** header ******************/

.wrapper {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.site-header__greystick {
  width: 2px;
  height: 32px;
  background-color: rgba(234, 234, 234, 1);
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}

.site-header__menu:hover {
  opacity: 1;
  transform: translate(2px, -2px);
}

button:active {
  opacity: 0.7;
}


/******************************** Main **********************/

.site-main {
  flex: 1 1 auto;
}

.site-main__section-info {
  padding: 0 0;
  background-color: rgba(248, 248, 248, 1)
}

.block-title {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.block-title--aqua-stick {
  width: 4px;
  height: 40px;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 3px;
  margin-right: 12px;
}

.block-title__container {
  display: flex;
  flex-direction: row;

  font-family: TT Lakes;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.block-title__services-list {
  margin-top: 24px;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}

.block-title__services-list>li:first-child {
  background-color: white;
  border-radius: 2px;
  border: 2px solid rgba(184, 255, 236, 1);
}

.services-list__options:hover {
  background-color: white;
  border-radius: 2px;
  border: 2px solid rgba(184, 255, 236, 1);
}

.services-list__options {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  white-space: nowrap;
  font-weight: 500;
}

/*********************** about company **************************/
.block-about-company {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.block-about-company__text {
  padding: 0 16px 0 16px;
  font-weight: 400;
  color: rgba(27, 28, 33, 1);
}

.block-about-company__readmore {
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 10px;
  gap: 6px;
}

.block-about-company__readmore-text {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.block-about-company__container-logo {
  display: flex;
  justify-content: center;
}

/* for not 320 */
.site-header__container {
  padding: 0 16px 0 16px;
}

.site-header__greystick--hidden {
  display: none;
}

.site-header__container--visible-on-768 {
  display: none;
}

.block-about-company__text--text-for-768 {
  display: none;
}

.block-about-company__text--text-for-1120 {
  display: none;
}

.block-title__container--visible-on-1120 {
  display: none;
}

@media (min-width: 400px) and (max-width: 550.89px) {
  .site-header__container {
    justify-content: center;
    column-gap: 15px;
  }

  .site-header__greystick {
    margin-right: 5em;
  }

  .site-header__setting {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .block-about-company__container-logo {
    display: flex;
    justify-content: center;
  }
}
