@font-face {
  font-family: 'TT Lakes';
  src: url('./Font-tt-lakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./Font-tt-lakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./Font-tt-lakes/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  text-decoration: none;
  color: rgba(126, 126, 130, 1);
}

ul li {
  list-style: none;
}

body {
  font-family: TT lakes;
  font-size: 16px;
  max-height: 100vh;
  max-width: 100%;
  position: relative;
}


button {
  cursor: pointer;
  background-color: white;
  transition: 0.2s linear;

}

button:hover {
  opacity: 1;

}

button:active {

  opacity: 0.7;

}

h1 {
  font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


/*********************************** header ******************/

.wrapper {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.site-header__greystick {
  width: 2px;
  height: 32px;
  background-color: rgba(234, 234, 234, 1);
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}

.site-header__menu:hover {
  opacity: 1;
  transform: translate(2px, -2px);
}

button:active {

  opacity: 0.7;

}

#burger-toggle {
  display: none;
}


#burger-toggle:checked~aside .container-mobile-menu {
  left: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#burger-toggle:checked~aside .overlay-mobile-menu {
  visibility: visible;
  top: 0px;
  z-index: 2;
}

#exit-mobile-menu {
  display: none;
}

/* Mobile menu aside block */

.overlay-mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  visibility: hidden;
}

.container-mobile-menu {
  position: absolute;
  top: 0;
  transition: left 0.6s ease;
  left: -325px;
  background-color: rgba(255, 255, 255, 1);
  min-width: 320px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* Header mobile menu */

.header-mobile-menu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px 50px 24px;
  gap: 16px;

}


.header-mobile-menu__search {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Main mobile menu*/

.main-mobile-menu__list-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

}

.main-mobile-menu__list-menu>li>a {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(27, 28, 33, 1);
  font-weight: 500;
  padding-left: 24px;
  border: 5px solid white;
}

.main-mobile-menu__list-menu>li>a:hover {
  color: rgba(126, 126, 130, 1);
  border-left: 4px solid rgba(65, 246, 215, 1);
  border-radius: 3px;
}

/* footer mobile menu*/

.footer-mobile-menu__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 24px;
  margin-top: 32px;
}

.footer-mobile-menu__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-mobile-menu__email {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(27, 28, 33, 1);
}

.footer-mobile-menu__phone-number {
  font-family: TT Lakes, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-mobile-menu__list-language {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.footer-mobile-menu__list-language>li {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-mobile-menu__list-language>li:hover {
  color: rgba(126, 126, 130, 1);
  cursor: pointer;
}

/******************************** Main **********************/

.site-main {
  flex: 1 1 auto;
}

.site-main__section-info {
  padding: 0 0;
  background-color: rgba(248, 248, 248, 1)
}

.block-title {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.block-title--aqua-stick {
  width: 4px;
  height: 40px;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 3px;
  margin-right: 12px;
}

.block-title__container {
  display: flex;
  flex-direction: row;

  font-family: TT Lakes;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.block-title__services-list {
  margin-top: 24px;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}

.services-list__options {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  white-space: nowrap;
  font-weight: 500;
}

.services-list__options:hover {
  background-color: white;
  border-radius: 2px;
  border: 2px solid rgba(184, 255, 236, 1);
}

/*********************** about company **************************/
.block-about-company {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.block-about-company__text {
  padding: 0 16px 0 16px;
  font-weight: 400;
  color: rgba(27, 28, 33, 1);
}

.block-about-company__readmore {
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 10px;
  gap: 6px;
}

.block-about-company__readmore-text {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* block brands */


.block-brand {
  background-color: rgba(248, 248, 248, 1);
}

.block-brand__title-container {
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
  max-width: 1120px;
  min-height: 56px;
  background: linear-gradient(45deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.title-container__text {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(126, 126, 130, 1);
}


.block-brand__brand-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  padding: 16px 16px 16px 16px;
  background-color: rgba(248, 248, 248, 1);
  overflow: scroll;
}


.brand-list-container__list {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 4px;
}

.brand-list-container__list>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 62, 121, 1);
  width: 40px;
  height: 40px;
}

.brand-list-container__list>div:hover {
  text-shadow: -3px 4px 2px rgba(234, 234, 234, 1);
  box-shadow: -3px 4px 2px rgba(234, 234, 234, 1);
}

.brand-list-container__list>div:active {
  box-shadow: none;
}

.block-brand__label-show-more {
  cursor: pointer;
  display: inline-block;
}

.block-brand__button-show-or-hide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 32px;
  background-color: rgba(248, 248, 248, 1);
}

#block-brand__button--show-hide {
  display: none;
}

/* block devices */


.block-devices__title-container {
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
  max-width: 1120px;
  min-height: 56px;
  background: linear-gradient(45deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

#block-devices__button--show-hide {
  display: none;
}

.block-devices__devices-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  padding: 16px 16px 16px 16px;
  background-color: rgba(248, 248, 248, 1);
  overflow: scroll;
}

.devices-list-container__list {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  min-height: 160px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 16px 16px 16px 16px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 4px;
}

.devices-list__text {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 500;
}

.devices-list-container__list>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 62, 121, 1);
  width: 40px;
  height: 40px;
  align-self: flex-end;
}

.swiper-slide {
  margin: 24px 16px;
  width: 240px !important;
}

.swiper-wrapper {
  background-color: rgba(248, 248, 248, 1);
}

/* for not 320 */
.site-header__container {
  padding: 0 16px 0 16px;
}

.site-header__greystick--hidden {
  display: none;
}

.site-header__container--visible-on-768 {
  display: none;
}

.block-about-company__text--text-for-768 {
  display: none;
}

.block-about-company__text--text-for-1120 {
  display: none;
}

.block-title__container--visible-on-1120 {
  display: none;
}

.block-brand__button-show-or-hide {
  display: none;
}

.block-brand__brand-list-container {
  display: none;
}

.block-devices__devices-list-container {
  display: none;
}

.block-devices__button-show-or-hide {
  display: none;
}